<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <div id="loadingSection" class="loading-section">
    <img id="loadingImage" class="loading-images" src="/images/icon-load.gif" alt="Loading..." />
  </div>

  <div id="confirmationSection" class="confirmation-section">
    <div class="confirmation-overlay"></div>
    <div id="confirmationInfo" class="confirmation-info">
      <div id="confirmationContent" class="confirmation-content">Confirmation Content</div>
      <div id="confirmationButton" class="confirmation-button">Confirm</div>
    </div>
  </div>

  <div id="resultSection" class="result-section">
    <div class="result-overlay"></div>
    <div class="result-content">
      <div id="paymentResult" class="payment-result">Payment Info</div>
      <div id="continueButton" class="continue-button">Continue To Shop</div>
    </div>
  </div>

  <h2>This is a test webpage for PayPal Braintree SDK Integration</h2>

  <table id="orderSection" class="order-section">
    <!--tr>
      <td>Order ID:</td>
      <td id="order-id"></td> 
    </tr-->
    <tr>
      <td>Product:</td>
      <td>
        <input type="text" id="productName" value="Notebook">
      </td>
    </tr>
    <tr>
      <td>Order Amount:</td>
      <td>
        <select id="orderAmount">
          <option value="0.50">0.5</option>
          <option value="1.00">1</option>
          <option value="2.00">2</option>
          <option value="5.00">5</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Currentcy:</td>
      <td>
        <select id="orderCurrency">
          <option value="USD">USD</option>
          <option value="SGD">SGD</option>
          <option value="HKD">HKD</option>
        </select>
      </td>
    </tr>
  </table>

  <div id="paymentInfo" class="payment-info"></div>

  <div id="paypalButton"></div>

</body>

</html>
<script src="./javascripts/jquery-3.1.0.min.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>
<script src="./javascripts/main.js"></script>