<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h2>This is a test webpage for PayPal Braintree SDK Integration</h2>
  
  <div id="payment-result"></div>

  <div id="paypal-btn"></div>

</body>

</html>
<script src="./javascripts/jquery-3.1.0.min.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>
<script src="./javascripts/main.js"></script>